<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
  <button (click)="createTask()">Create Person</button>
  
</div>

<router-outlet></router-outlet>